{% extends 'layout.html' %}

{% block body %}

<h2><span class="text-muted">Test Your Knowledge</span> {% if chosen_tyk %} {{chosen_tyk.id}} / {{chosen_tyk.title}}
    {% endif %}</h2>
{% from "includes/_formhelpers.html" import render_field %}
<form method="POST" action="">
    {% if form and form.pro_1 %}
    <div class="form-group">
        {{render_field(form.pro_1, class="form-control")}}
    </div>
    {% endif %}
    {% if form and form.pro_2 %}
    <div class="form-group">
        {{render_field(form.pro_2, class="form-control")}}
    </div>
    {% endif %}
    {% if form and form.pro_3 %}
    <div class="form-group">
        {{render_field(form.pro_3, class="form-control")}}
    </div>
    {% endif %}
    {% if form and form.con_1 %}
    <div class="form-group">
        {{render_field(form.con_1, class="form-control")}}
    </div>
    {% endif %}
    {% if form and form.con_2 %}
    <div class="form-group">
        {{render_field(form.con_2, class="form-control")}}
    </div>
    {% endif %}
    {% if form and form.con_3 %}
    <div class="form-group">
        {{render_field(form.con_3, class="form-control")}}
    </div>
    {% endif %}
    <p><input type="submit" class="btn btn-primary" value="Submit" /></p>
</form>

{% endblock %}